section {
  padding: 20px;
}

.content {
  display: flex;
  justify-content: space-between;
}

.heading {
  margin-bottom: 0;
}

.divider {
  margin: 10px 0;
}

.input {
  width: 100%;
  border: 1px solid;
  border-radius: 4px;
  padding: 5px;
  height: 100%;
}

.cancel-btn {
  width: 74px;
  margin: 4px 10px 4px 4px;
}

.btn-area-change {
  padding: 0;
}

h3 {
  margin: 0;
}

.input-width {
  width: 70%;
}

button {
  width: 74px;
  margin: 4px;
}

.border-red{
  border-color: red;
}

.input-red{
  color: red;
}

@media only screen and (max-width: 1300px) {
  .input-width {
    width: 60%;
  }
}

