<app-home-header [title] = "'Settings'"></app-home-header>
<section>
<div class="row">
  <div class="col-7">
    <h2 class="heading">Store Name</h2>
    <div class="row" *ngIf = "!showStoreNameChange">
    <div class="content">
      <div class = "input-width">
        <h3>Guru Kirpa Stores</h3>
      </div>
      <div>
        <button class="btn btn-secondary" (click) = "toggleShowStoreNameChange()">Edit</button>
      </div>
    </div>
    </div>
    <div class="row" *ngIf = "showStoreNameChange">
      <div class="content">
      <div class = "input-width">
        <input type="text" class="input" value="Guru Kirpa Stores">
      </div>
      <div>
        <button class="btn btn-secondary cancel-btn" (click) = "toggleShowStoreNameChange()">Cancel</button>
        <button class="btn btn-primary">Save</button>
      </div>
      </div>

    </div>
    <mat-divider class="divider"></mat-divider>
  </div>

</div>

<div class="row">
  <div class="col-7">
    <h2 class="heading">Owner Name</h2>
    <div class="row" *ngIf = "!showStoreNameChange">
    <div class="content">
      <div class = "input-width">
        <h3>Tony Stark</h3>
      </div>
      <div>
        <button class="btn btn-secondary" (click) = "toggleShowStoreNameChange()">Edit</button>
      </div>
    </div>
    </div>
    <div class="row" *ngIf = "showStoreNameChange">
      <div class="content">
      <div class = "input-width">
        <input type="text" class="input" value="Guru Kirpa Stores">
      </div>
      <div>
        <button class="btn btn-secondary cancel-btn" (click) = "toggleShowStoreNameChange()">Cancel</button>
        <button class="btn btn-primary">Save</button>
      </div>
      </div>

    </div>
    <mat-divider class="divider"></mat-divider>
  </div>

</div>

<div class="row">
  <div class="col-7">
    <h2 class="heading">Store Contact Number</h2>
    <div class="row" *ngIf = "!showStoreNameChange">
    <div class="content">
      <div class = "input-width">
        <h3>7878784545</h3>
      </div>
      <div>
        <button class="btn btn-secondary" (click) = "toggleShowStoreNameChange()">Edit</button>
      </div>
    </div>
    </div>
    <div class="row" *ngIf = "showStoreNameChange">
      <div class="content">
      <div class = "input-width">
        <input type="text" class="input" value="Guru Kirpa Stores">
      </div>
      <div>
        <button class="btn btn-secondary cancel-btn" (click) = "toggleShowStoreNameChange()">Cancel</button>
        <button class="btn btn-primary">Save</button>
      </div>
      </div>

    </div>
    <mat-divider class="divider"></mat-divider>
  </div>

</div>


<div class="row">
  <div class="col-7">
    <h2 class="heading">Owner Contact Number</h2>
    <div class="row" *ngIf = "!showStoreNameChange">
    <div class="content">
      <div class = "input-width">
        <h3>8989898956</h3>
      </div>
      <div>
        <button class="btn btn-secondary" (click) = "toggleShowStoreNameChange()">Edit</button>
      </div>
    </div>
    </div>
    <div class="row" *ngIf = "showStoreNameChange">
      <div class="content">
      <div class = "input-width">
        <input type="text" class="input" value="Guru Kirpa Stores">
      </div>
      <div>
        <button class="btn btn-secondary cancel-btn" (click) = "toggleShowStoreNameChange()">Cancel</button>
        <button class="btn btn-primary">Save</button>
      </div>
      </div>

    </div>
    <mat-divider class="divider"></mat-divider>
  </div>

</div>



<div class="row">
  <div class="col-7">
    <h2 class="heading">Store Email</h2>
    <div class="row" *ngIf = "!showStoreNameChange">
    <div class="content">
      <div class = "input-width">
        <h3>Guru Kirpa Stores</h3>
      </div>
      <div>
        <button class="btn btn-secondary" (click) = "toggleShowStoreNameChange()">Edit</button>
      </div>
    </div>
    </div>
    <div class="row" *ngIf = "showStoreNameChange">
      <div class="content">
      <div class = "input-width">
        <input type="text" class="input" value="Guru Kirpa Stores">
      </div>
      <div>
        <button class="btn btn-secondary cancel-btn" (click) = "toggleShowStoreNameChange()">Cancel</button>
        <button class="btn btn-primary">Save</button>
      </div>
      </div>

    </div>
    <mat-divider class="divider"></mat-divider>
  </div>

</div>



<div class="row">
  <div class="col-7">
    <h2 class="heading">Store Name</h2>
    <div class="row" *ngIf = "!showStoreNameChange">
    <div class="content">
      <div class = "input-width">
        <h3>Guru Kirpa Stores</h3>
      </div>
      <div>
        <button class="btn btn-secondary" (click) = "toggleShowStoreNameChange()">Edit</button>
      </div>
    </div>
    </div>
    <div class="row" *ngIf = "showStoreNameChange">
      <div class="content">
      <div class = "input-width">
        <input type="text" class="input" value="Guru Kirpa Stores">
      </div>
      <div>
        <button class="btn btn-secondary cancel-btn" (click) = "toggleShowStoreNameChange()">Cancel</button>
        <button class="btn btn-primary">Save</button>
      </div>
      </div>

    </div>
    <mat-divider class="divider"></mat-divider>
  </div>

</div>
</section>
