
<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="/assets/images/auth.png" class="img-fluid" alt="Phone image">
        <!-- <img src="../../assets/images/auth.png" class="img-fluid" alt="Phone image"> -->
      </div>


      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <h1 class="brand">Reset Password</h1>
        <div class="brand-divider divider d-flex align-items-center my-4">

        </div>



        <form [formGroup] = "resetForm">

          <div class="form-outline mb-4" >
            <label class="form-label" for="form1Example23">New Password</label>
            <div class="toolbar">
              <input
              [ngClass]="{'invalid-control': formResetControls.password.invalid && formResetControls.password.touched}"
              type="{{showPasswordForRegister ? 'text' : 'password'}}"
              class="form-control form-control-lg"
              formControlName = "password"
              name = "password"
              autocomplete="off"
              />
              <mat-icon *ngIf="!showPasswordForRegister" (click)="toggleShowPasswordForRegister()"><span class="material-icons-outlined">
              visibility_off
              </span></mat-icon>
              <mat-icon *ngIf="showPasswordForRegister" (click)="toggleShowPasswordForRegister()"><span class="material-icons-outlined">
              visibility
              </span></mat-icon>
            </div>
            <div class="invalid-detail" *ngIf="formResetControls.password.invalid && formResetControls.password.touched">
              Password must be 8 characters long.
            </div>
          </div>

          <div class="form-outline mb-4" >
            <label class="form-label" for="form1Example23">Confirm Password</label>
            <input
            [ngClass]="{'invalid-control': formResetControls.confirmPassword.invalid && formResetControls.confirmPassword.touched}"
            type="text"
            class="form-control form-control-lg"
            formControlName = "confirmPassword"
            autocomplete="off"
            name = "confirm_password"
            />
            <div class="invalid-detail" *ngIf="formResetControls.confirmPassword.invalid && !formResetControls.confirmPassword.errors.required && formResetControls.confirmPassword.touched">
              Password and confirm password must match.
            </div>
            <div class="invalid-detail" *ngIf="formResetControls.confirmPassword.invalid && formResetControls.confirmPassword.errors.required && formResetControls.confirmPassword.touched">
              This field is required.
            </div>
          </div>
        </form>

          <!-- Submit button -->
          <div class="d-grid gap-2">
          <button
          class="btn btn-primary btn-lg btn-block"
          [disabled] = "!resetForm.valid"
          (click) = "onResetPassword()"
          >Reset Password</button>

          </div>

      </div>
    </div>
  </div>
</section>
