.container-fluid {
  margin: 0;
  padding: 0 1rem 1rem 1rem;
}

.transactions-wrapper {
  width: 100%;
  min-height: 70vh;
}

.search-input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 40vw;
  border: 3px solid #ffc107;
  border-radius: 6px;
  padding: 10px 32px;
}

.input-box {
  position: relative;
  display: flex;
  align-items: center;
}

.input-box .left-icon {
  position: absolute;
  left: 8px;
}

.input-box .right-icon {
  position: absolute;
  right: 8px;
  cursor: pointer;
}

.transaction-card {
  /* border: 2px solid #007BFF; */
  border: 1.5px solid #e2e3e5;
  margin-top: 15px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding: 10px;
  cursor: pointer;
}

.transaction-card .inside {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transaction-card .inside .right {
  display: flex;
  align-items: center;
}

.transaction-card .inside .right span {
  margin-right: 10px;
}

.transaction-card .inside .right .red {
  color: red;
}

.transaction-card .inside .right .green {
  color: green;
}

.transaction-card .inside .left span {
  margin-left: 10px;
}

/* all */

.transactions-wrapper:not([class*="mat-elevation-z"]) {
  box-shadow: 0 2px 1px -1px #779574, 0 1px 1px 0 #779574, 0 1px 8px 0 #779574;
}

.input-red {
  color: #ff0000;
}

.input-green {
  color: #337633;
}

.display-none {
  display: none;
}

.clear-search-btn {
  margin-left: 10px;
}
.warn {
  color: #ffc107;
}
