.example-form {
  z-index: 100;
}

.suggestions {
  background-color: grey;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}

.add-customer-btn {
  display: block;
  width: 100%;
  margin-top: 2%;
}

.inform-btn {
  display: block;
  width: 100%;
  margin-top: 2%;
}

.heading-center {
  text-align: center;
}

.badge {
  letter-spacing: 2px;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.customer-detail-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  /* justify-content: center; */
}

.customer-detail-wrapper button {
  margin: 10px 0 10px 0;
}

.cutomer-detail-not-available-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  padding: 40px;
  text-align: center;
}


.top-buffer {
  margin-top: 5vh;
}

.item-btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;


}

.item-btn-wrapper button,p {
  /* margin-right: 5px; */
  margin: 0 5px 5px ;
}

.width-fit-content {
  width: fit-content;
}
