<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/draw2.png" class="img-fluid" alt="Phone image">
      </div>

      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form [formGroup] = "authenticationForm" *ngIf = "!showRegister">

          <div class="form-outline mb-4">
            <input
            type="text"
            class="form-control form-control-lg"
            formControlName = "email"
            name = "userName"
            />
            <label class="form-label" for="form1Example13">Email</label>
          </div>

          <div class="form-outline mb-4" >
            <input
            type="password"
            class="form-control form-control-lg"
            formControlName = "password"
            name = "password"
            />
            <label class="form-label" for="form1Example23">Password</label>
          </div>

          <div
          class="d-flex justify-content-around align-items-center mb-4">

            <a href="#!">Forgot password?</a>
          </div>
        </form>

        <!-- register form -->

        <form [formGroup] = "signUpForm" *ngIf = "showRegister">

          <div class="form-outline mb-4">
            <input
            type="text"
            class="form-control form-control-lg"
            formControlName = "name"
            name = "name"
            />
            <label class="form-label" for="form1Example13">Full Name</label>
          </div>

          <div class="form-outline mb-4">
            <input
            type="text"
            class="form-control form-control-lg"
            formControlName = "email"
            name = "Name"
            />
            <label class="form-label" for="form1Example13">Email</label>
          </div>

          <div class="form-outline mb-4" >
            <input
            type="password"
            class="form-control form-control-lg"
            formControlName = "password"
            name = ""
            />
            <label class="form-label" for="form1Example23">Password</label>
          </div>

          <div class="form-outline mb-4" >
            <input
            type="text"
            class="form-control form-control-lg"
            formControlName = "confirmPassword"
            name = ""
            />
            <label class="form-label" for="form1Example23">Confirm Password</label>
          </div>

          <!-- <div
          class="d-flex justify-content-around align-items-center mb-4">

            <a href="#!">Forgot password?</a>
          </div> -->
        </form>

          <!-- Submit button -->
          <div class="d-grid gap-2">
          <button
          class="btn btn-primary btn-lg btn-block"
          *ngIf = "!showRegister"
          [disabled] = "!authenticationForm.valid"
          (click) = "verifyLogin()"
          >Log In</button>
          <button
          class="btn btn-primary btn-lg btn-block"
          *ngIf = "showRegister"
          [disabled] = "!signUpForm.valid"
          (click) = "onSignUp()"
          >Sign Up</button>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
          </div>
          <button
          class="btn btn-primary btn-lg btn-block"
          (click) = "switchMode()">{{ showRegister ? 'Log In' : 'Sign Up' }}</button>
          <!-- <a class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="#!" role="button">
            <i class="fab fa-facebook-f me-2"></i>Continue with Facebook
          </a>
          <a class="btn btn-primary btn-lg btn-block" style="background-color: #55acee" href="#!" role="button">
            <i class="fab fa-twitter me-2"></i>Continue with Twitter</a> -->
          </div>

      </div>
    </div>
  </div>
  <button mat-raised-button color="primary" ></button>
</section>
