<app-home-header [title] = "'Customers'"></app-home-header>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 sidebar">

      <mat-card class="sidebar-container">

        <div class="sidebar-top-btn-wrapper" *ngIf = "!showSearchInput">
        <button
        (click) = "onClickSearchBtn()"
        class="search-btn"
        mat-mini-fab
        aria-label="Example icon button with a home icon">
          <mat-icon style="color: black;">search</mat-icon>
        </button>
        <button (click)="openAddCustomerDialog()" class="btn btn-warning add-btn">
          <fa-icon [icon] = "faPlus" class="icon-mr" ></fa-icon>
          Add Customer
        </button>
        </div>
        <div class="input-group mb-3" [ngClass]="{'display-none': !showSearchInput}">
          <span class="input-group-text">
            <mat-icon>search</mat-icon>
          </span>
          <input
          #input1
          (change) = "searchInput($event)"
          type="{{searchByName ? 'text' : 'number'}}"
          class="form-control"
          placeholder="{{searchByName ? 'Name' : 'Mobile Number'}}">
          <span class="input-group-text close-search-input-btn">
            <mat-icon  (click) = "closeSearchInput()">close</mat-icon>
          </span>
        </div>
        <div *ngIf = "showSearchInput" class="slide-toggle">
          <mat-slide-toggle (change)="onCheck($event)" color="primary">Search by Name.</mat-slide-toggle>
        </div>
        <div class="mt-3 mb-5">
          <mat-divider></mat-divider>
        </div>

        <div>
          <app-empty-state
              *ngIf = "!customersBySearch.length"
              [actionBtn] = "false"
              [title] = "'No Data Found!'"
              [notFoundImg] = "true"
              [subtitle1]="''"
              [subtitle2] = "''"
            ></app-empty-state>
          <mat-card *ngFor="let customer of customersBySearch" (click)="onSelect(customer)" class="mb-2 alert alert-info customer-selector">
            <div class="customer-selector-inside">
              <span>{{customer?.name | titlecase}}</span>
              <mat-icon>chevron_right</mat-icon>
            </div>
          </mat-card>
        </div>

      </mat-card>
    </div>
    <div class="col-lg-9">
      <div class="row">
        <div class="col-lg-12 content-wrapper">
          <mat-card class="content-container">
            <div class="container-fluid">
              <div class="content-header">

                <span class="customer-name mb-1">{{customer?.name | titlecase }}</span>

                <div>
                  <button (click)="openDeleteCustomerDialog()" class="btn btn-danger content-btn"><fa-icon [icon]="faTrashAlt" class="icon-mr"></fa-icon>Remove</button>
                </div>
              </div>
              <div class="content-body new-content-body">
                <div>
                  <p class="mb-1">Mobile: {{customer?.mobileNumber || '-'}}</p>
                  <p class="mb-1">Dob: {{customer?.dob | date: 'shortDate'  || '-'}}</p>
                  <p>Adress: {{customer?.address | titlecase }}</p>
                </div>
                <div>
                  <p class="mb-1 mt-3">Created At: {{customer?.createdAt | date: 'medium'  || '-'}}</p>
                  <p>Credit: <fa-icon [icon] = "faRupeeSign"></fa-icon> {{customer?.credit  || '-'}}</p>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 list-wrapper">
          <mat-card class="list-container transaction-card">
            <h2>Customers: </h2>
            <app-empty-state
              *ngIf = "!customers.length"
              [actionBtn] = "false"
              [title] = "'No Data Found!'"
              [notFoundImg] = "true"
              [subtitle1]="'Looks like you don not have any customers.'"
              [subtitle2] = "''"
            ></app-empty-state>
            <div *ngIf = "customers.length">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Mob.</th>
                    <th scope="col">Dob</th>
                    <th scope="col">Credit</th>
                    <th scope="col">Created At</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let customer of customers">
                    <th scope="row"><fa-icon [icon] = "faDotCircle" class="text-info"></fa-icon></th>
                    <td>{{customer?.name | titlecase}}</td>
                    <td>{{customer?.mobileNumber}}</td>
                    <td>{{customer?.dob | date: 'shortDate'}}</td>
                    <td><fa-icon [icon] = "faRupeeSign"></fa-icon> {{customer?.credit}}</td>
                    <td>{{customer?.createdAt | date : 'short'}}</td>
                    <td>
                      <button class="trans-more-detail-btn" mat-button [matMenuTriggerFor]="transaction">
                        <fa-icon [icon] = "faEllipsisV"></fa-icon>
                      </button>
                      <mat-menu #transaction="matMenu">
                        <button (click)="onSelect(customer)" mat-menu-item>
                            <!-- <mat-icon>View</mat-icon> -->
                            Select
                        </button>
                      </mat-menu>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <footer *ngIf = "customers.length">
              <mat-paginator [length]="paginationLength"
              [pageSize]="4"
              [pageSizeOptions]="[4, 8]"
              (page)="pageEvent = onPaginate($event)"
              aria-label="Select page">
              </mat-paginator>
            </footer>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
