section {
  padding: 10px;
}

.btn-area {
  /* background-color: blue; */
  padding:  0 0 20px 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

.btn-area span button {
  margin: 7px;
}

.collapsing{
  -webkit-transition: none;
        transition: none;
}

.modal {
  position: relative;
  top: 10%;

}

.section-content {
  padding: 20px;
}

.info-card-wrapper {
  padding: 20px;
}

.info-card .upper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 2px;
}

.info-card .lower {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 15px;
}

fa-icon {
  margin-right: 0.5em;
}

/* transaction card */


.transaction-card {
  /* border: 2px solid #007BFF; */
  border: 1.5px solid #E2E3E5;
  margin-top: 15px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding: 10px;
  cursor: pointer;
}

.transaction-card .inside {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transaction-card .inside .right {
  display: flex;
  align-items: center;
}

.transaction-card .inside .right span {
  margin-right: 10px;
}

.transaction-card .inside .right .red{
  color: red;
}

.transaction-card .inside .right .green{
  color: green;
}

.transaction-card .inside .left span{
  margin-left: 10px;
}

.warn {
  color: #ffc107;
}
