<section>
  <div class="btn-area">
    <span>
      <button class="btn btn-primary">
        <fa-icon [icon]="faHome"></fa-icon>Home
      </button>
    </span>
    <span>
      <button
      class="btn btn-primary"
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#addCustomerModal"
      data-bs-whatever="@mdo">
      <fa-icon [icon]="faUser"></fa-icon>Add Customer
    </button>
    </span>
    <span>
      <button
      class="btn btn-primary"
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#addItemModal"
      data-bs-whatever="@mdo">
      <fa-icon [icon]="faSquare"></fa-icon>Add Item
    </button>
    </span>
    <span>
      <button
      class="btn btn-primary"
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#"
      data-bs-whatever="@mdo">
      <fa-icon [icon]="faEllipsisV"></fa-icon>Add Item Category
    </button>
    </span>
    <span>
    <button
      class="btn btn-primary"
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#createInvoiceModal"
      data-bs-whatever="@mdo">
      <fa-icon [icon]="faFileInvoice"></fa-icon>Create Invoice
    </button>
    </span>
    <span>
      <button mat-stroked-button color="primary">Primary</button>
    </span>
    <span>
      <button mat-stroked-button color="primary">Primary</button>
    </span>
    <span>
      <button mat-stroked-button color="primary">Primary</button>
    </span>
    <span>
      <button mat-stroked-button color="primary">Primary</button>
    </span>
    <span>
      <button mat-stroked-button color="primary">Primary</button>
    </span>
    <span>
      <button mat-stroked-button color="primary">Primary</button>
    </span>
    <span>
      <button mat-stroked-button color="primary">Primary</button>
    </span>
    <span>
      <button mat-stroked-button color="primary">Primary</button>
    </span>
    <span>
      <button mat-stroked-button color="primary">Primary</button>
    </span>
    <span>
      <button mat-stroked-button color="primary">Primary</button>
    </span>
    <span>
      <button mat-stroked-button color="primary">Primary</button>
    </span>
    <span>
      <button mat-stroked-button color="primary">Primary</button>
    </span>
    <span>
      <button mat-stroked-button color="primary">Primary</button>
    </span>



  </div>
  <div class="section-content">
    <h1>Add Customer</h1>
    <div class="add-customer">
      <form>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
      </form>
    </div>
  </div>


</section>
