
<app-home-header [title] = "'Dashboard'"></app-home-header>
<section >
  <div class="btn-area">
    <span>
      <button
      class="btn btn-primary"
      type="button"
      (click)="openAddCustomerDialog()">
      <fa-icon [icon]="faUser"></fa-icon>Add Customer
    </button>
    </span>
    <span>
      <button
      class="btn btn-primary"
      type="button"
      (click)="openAddItemDialog()">
      <fa-icon [icon]="faSquare"></fa-icon>Add Item
    </button>
    </span>
    <span>
      <button
      class="btn btn-primary"
      type="button"
      (click)="openAddItemCategoryDialog()">
      <fa-icon [icon]="faEllipsisV"></fa-icon>Add Item Category
    </button>
    </span>
    <span>
    <button
      class="btn btn-primary"
      type="button"
      (click)="openCreateInvoiceDialog()">
      <fa-icon [icon]="faFileInvoice"></fa-icon>Create Invoice
    </button>
    </span>
    <span>
    <button
      class="btn btn-primary"
      type="button"
      (click)="openReceivePaymentDialog()">
      <fa-icon [icon]="faMoneyBillWave"></fa-icon>Receive Payment
    </button>
    </span>
    <span>
    <button
      class="btn btn-primary"
      type="button"
      (click)="openGivePaymentDialog()">
      <fa-icon [icon]="faMoneyBill"></fa-icon>Give Payment
    </button>
    </span>
    <span>
    <button
      class="btn btn-primary"
      type="button"
      (click)="openReceiveCustomerCreditDialog()">
      <fa-icon [icon]="faMoneyBillWaveAlt"></fa-icon>Receive Customer Credit
    </button>
    </span>

  </div>

  <mat-divider></mat-divider>

  <div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 info-card-wrapper">
      <mat-card class="info-card alert alert-info">
        <div class="upper">
          {{ totalTransactionToday }}
        </div>
        <div class="lower">
          Sales Today
        </div>
      </mat-card>
    </div>
    <div class="col-lg-4 info-card-wrapper">
      <mat-card class="info-card alert alert-warning">
        <div class="upper">
          {{totalCustomersWithCredit}}
        </div>
        <div class="lower">
          Customers With Credit
        </div>
      </mat-card>
    </div>
    <div class="col-lg-4 info-card-wrapper">
      <mat-card class="info-card alert alert-danger">
        <div class="upper">
          {{totalItemsOutOfStock}}
        </div>
        <div class="lower">
          Items Out Of Stock
        </div>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 info-card-wrapper">
      <mat-card class="alert alert-info">


        <div>
          <h3>Recent Transactions : </h3>
        </div>
        <mat-card class="transaction-card alert alert-" *ngFor = "let transaction of transactions" (click)="openTransactionDetailBottomSheet(transaction)">
          <div class="inside">
            <div class="left">
              <span>{{ transaction?.transactionType }}</span>
              <span>|</span>
              <span>{{ transaction?.partyName | titlecase }}</span>
              <span *ngIf="transaction?.paymentMode && transaction?.paymentMode !== ''">|</span>
              <span *ngIf="transaction?.paymentMode && transaction?.paymentMode !== ''">{{ transaction?.paymentMode === 'OFFLINE' ? 'Cash' : 'Online' }}</span>
              <span *ngIf="transaction?.status === 'CREDIT' || transaction?.status === 'PAID'">|</span>
              <span *ngIf="transaction?.status === 'CREDIT' || transaction?.status === 'PAID'">{{ transaction?.status }}</span>
              <span>|</span>
              <span>{{ transaction?.dateTime | date: 'short' }}</span>
            </div>
            <div class="right">
              <span *ngIf="transaction?.status === 'CREDIT'"><fa-icon [icon]="faRupeeSign"></fa-icon> {{ transaction?.creditAmount }}</span>
              <mat-icon *ngIf="transaction?.status === 'CREDIT'" class="material-icons-outlined warn " >pending</mat-icon>
              <span *ngIf="transaction?.status !== 'CREDIT' && transaction?.transactionType === 'PAYMENTOUT'"><fa-icon [icon]="faRupeeSign"></fa-icon> {{ transaction?.paymentOut }}</span>
              <mat-icon *ngIf="transaction?.status !== 'CREDIT' && transaction?.transactionType === 'PAYMENTOUT'" class="red" >remove_circle_outline</mat-icon>
              <span *ngIf="(transaction?.status === 'PAID' || transaction?.status === 'COMPLETE') && (transaction?.transactionType === 'PAYMENTIN' || transaction?.transactionType === 'SALE')"><fa-icon [icon]="faRupeeSign"></fa-icon> {{ transaction?.totalAmount }}</span>
              <mat-icon class="green" *ngIf="(transaction?.status === 'PAID' || transaction?.status === 'COMPLETE') && (transaction?.transactionType === 'PAYMENTIN' || transaction?.transactionType === 'SALE')">add_circle_outline</mat-icon>
            </div>
          </div>
        </mat-card>
      </mat-card>
    </div>
  </div>
  </div>

</section>


