<app-home-header [title] = "'Dashboard'"></app-home-header>
<section >
  <div class="btn-area">
    <span>
      <button
      class="btn btn-primary"
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#addCustomerModal"
      data-bs-whatever="@mdo">
      <fa-icon [icon]="faUser"></fa-icon>Add Customer
    </button>
    </span>
    <span>
      <button
      class="btn btn-primary"
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#addItemModal"
      data-bs-whatever="@mdo">
      <fa-icon [icon]="faSquare"></fa-icon>Add Item
    </button>
    </span>
    <span>
      <button
      class="btn btn-primary"
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#addItemCategoryModal"
      data-bs-whatever="@mdo">
      <fa-icon [icon]="faEllipsisV"></fa-icon>Add Item Category
    </button>
    </span>
    <span>
    <button
      class="btn btn-primary"
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#createInvoiceModal"
      data-bs-whatever="@mdo">
      <fa-icon [icon]="faFileInvoice"></fa-icon>Create Invoice
    </button>
    </span>
    <span>
    <button
      class="btn btn-primary"
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#receivePaymentModal"
      data-bs-whatever="@mdo">
      <fa-icon [icon]="faMoneyBillWave"></fa-icon>Receive Payment
    </button>
    </span>
    <span>
    <button
      class="btn btn-primary"
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#givePaymentModal"
      data-bs-whatever="@mdo">
      <fa-icon [icon]="faMoneyBill"></fa-icon>Give Payment
    </button>
    </span>
    <span>
    <button
      class="btn btn-primary"
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#receiveCustomerCreditModal"
      data-bs-whatever="@mdo">
      <fa-icon [icon]="faMoneyBillWaveAlt"></fa-icon>Receive Customer Credit
    </button>
    </span>

  </div>

  <mat-divider></mat-divider>

  <div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 info-card-wrapper">
      <mat-card class="info-card alert alert-info">
        <div class="upper">
          41616
        </div>
        <div class="lower">
          Sales Today
        </div>
      </mat-card>
    </div>
    <div class="col-lg-4 info-card-wrapper">
      <mat-card class="info-card alert alert-warning">
        <div class="upper">
          56
        </div>
        <div class="lower">
          Customers With Credit
        </div>
      </mat-card>
    </div>
    <div class="col-lg-4 info-card-wrapper">
      <mat-card class="info-card alert alert-danger">
        <div class="upper">
          22
        </div>
        <div class="lower">
          Items Out Of Stock
        </div>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 info-card-wrapper">
      <mat-card class="alert alert-info">
        <div>
          <h3>Recent Transactions : </h3>
        </div>
        <mat-card class="transaction-card alert alert-" *ngFor = "let item of number">
          <div class="inside">
            <div class="left">
              <span>SALE</span>
              <span>|</span>
              <span>Sanskar Soni</span>
              <span>|</span>
              <span>Cash</span>
              <span>|</span>
              <span>02/09/2021</span>
            </div>
            <div class="right">
              <span><fa-icon [icon]="faRupeeSign"></fa-icon> 1000</span>
              <mat-icon class="red" *ngIf = "item%2 === 0">remove_circle_outline</mat-icon>
              <mat-icon class="green" *ngIf = "item%2 !== 0">add_circle_outline</mat-icon>
            </div>
          </div>
        </mat-card>
      </mat-card>
    </div>
  </div>
  </div>

</section>
