.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

h2 {
  margin: 0;
}

.invalid-input{
  color: red;
  margin-top: 4px;
}

.border-red{
  border-color: red;
}
