.dialog-wrapper {
  width: 300px;
}

.btn-wrapper {
  margin-top: 10px;
  display: flex;
  justify-content: end;
}

.btn-wrapper button {
  margin-right: 10px;
}

.subtitle {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.title {
  margin-bottom: 10px;
}

.company-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;

}

img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
}

