<div class="modal fade" id="addItemModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Item</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Item Name:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="item-mrp" class="col-form-label">Item MRP:</label>
            <input type="text" class="form-control" id="item-mrp">
          </div>
          <div class="mb-3">
            <label for="item-rate" class="col-form-label">Item Rate:</label>
            <input type="text" class="form-control" id="item-rate">
          </div>

          <div class="mb-3">
            <label for="category" class="col-form-label">Item Category:</label>
            <select class="form-select" aria-label="Default select example">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary" data-bs-target="#secondAddItemModal" data-bs-toggle="modal" data-bs-dismiss="modal">Continue</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="secondAddItemModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Item</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="item-size" class="col-form-label">Item Size:</label>
            <input type="text" class="form-control" id="item-size">
          </div>
          <div class="mb-3">
            <label for="item-quantity" class="col-form-label">Item Quantity:</label>
            <input type="text" class="form-control" id="item-quantity">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button
        data-bs-dismiss="modal"
        type="button"
        class="btn btn-primary"
        (click) = "onAddItem()">Add Item</button>
      </div>
    </div>
  </div>
</div>
