<div class="modal fade" id="changeStorePhotoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Change Picture</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="company-card">
          <img
          src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">

          <div class="input-group mb-3 mt-3">
            <input
            (change) = "onSelectFile($event)"
            type="file"
            class="form-control"
            id="inputGroupFile01">
          </div>

      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
