<div id="error-message" class="alert alert-warning">This Web App is made for Desktop Size Screens. Please Use Bigger Screen.</div>
<div>
  <router-outlet></router-outlet>
</div>


<ngx-spinner name="mainSpinner" [fullScreen]="false"></ngx-spinner>
<ngx-spinner name="authSpinner" type = "ball-spin-clockwise" [fullScreen]="false"></ngx-spinner>
<ngx-spinner name="searchSpinner" color = "#fff" size = "medium" type = "square-jelly-box" [fullScreen]="false" >
  <p style="color: #fff" > Searching... </p>
</ngx-spinner>
<ngx-spinner name="loginSpinner" color = "#fff" size = "medium" type = "ball-spin-clockwise" [fullScreen]="false" >
  <p style="color: #fff" > Getting things ready... </p>
</ngx-spinner>
<ngx-spinner name="signUpSpinner" color = "#fff" size = "medium" type = "ball-spin-clockwise" [fullScreen]="false" >
  <p style="color: #fff" > Registering... </p>
</ngx-spinner>
<ngx-spinner name="otpSpinner" color = "#fff" size = "medium" type = "ball-spin-clockwise" [fullScreen]="false" >
  <p style="color: #fff" > Sending OTP... </p>
</ngx-spinner>



