

.mat-icon {
  vertical-align: middle;
  margin-right: 20px;
}
.company-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px;

}

img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer ;
}

.company-name {
  margin-top: 10px;
}

.active {
  background-color: #E2E3E5;
}


