<app-home-header [title] = "'Credits'"></app-home-header>
<div class="container-fluid">
  <mat-card class="credits-wrapper">
    <div class="search-input-wrapper" [formGroup]="searchInputForm">
      <div class="input-box" [ngClass]="{'display-none': searchType !== 'Customer_Mobile_Number' }">
        <mat-icon class="left-icon">search</mat-icon>
        <input formControlName="Customer_Mobile_Number" #input2 [ngClass]="{'input-red': (!searchInputFormControls.Customer_Mobile_Number.valid), 'input-green': (searchInputFormControls.Customer_Mobile_Number.valid) }" class="search-input" type="number" placeholder="{{'Search by ' + searchType}}">
        <mat-icon (click)="openSelectDialog()" class="right-icon" color="accent">filter_alt</mat-icon>
      </div>
      <div class="input-box" [ngClass]="{'display-none': searchType !== 'Customer_Name' }">
        <mat-icon class="left-icon">search</mat-icon>
        <input formControlName="Customer_Name" #input3 [ngClass]="{'input-red': (!searchInputFormControls.Customer_Name.valid), 'input-green': (searchInputFormControls.Customer_Name.valid) }" class="search-input" type="text" placeholder="{{'Search by ' + searchType}}">
        <mat-icon (click)="openSelectDialog()" class="right-icon" color="accent">filter_alt</mat-icon>
      </div>
      <button *ngIf="showClearSearchBtn" (click)="onClickClearSearch()" class="clear-search-btn" mat-stroked-button color="accent">Clear Search</button>
    </div>

    <app-empty-state
        *ngIf = "!customerSuggestion.length"
        [actionBtn] = "false"
        [title] = "'No Data Found!'"
        [notFoundImg] = "true"
        [subtitle1] = "'Looks like customers does not have any credits.'"
        [subtitle2] = "''"
        ></app-empty-state>

    <mat-card class="credit-card" *ngFor = "let customer of customerSuggestion">
      <!-- <div class="row">
        <div class="col-lg-4 detail-wrapper">
          Name: Sanskar Soni
        </div>
        <div class="col-lg-4 detail-wrapper">
          Address: Vijay Nagar Indore
        </div>
        <div class="col-lg-4 detail-wrapper">
          Mobile: 8877886655
        </div>
      </div> -->
      <div class="detail-wrapper">
        <span>Name: {{ customer?.name | titlecase }}</span>
        <span>|</span>
        <span>Address: {{ customer?.address | titlecase }}</span>
        <span>|</span>
        <span>Mobile: {{ customer?.mobileNumber }}</span>
      </div>
      <div class="btns-wrapper">
        <div class="left">
          <span >Credit Amount : </span><span class="red"> <fa-icon [icon]="faRupeeSign"></fa-icon> {{ customer?.credit }}</span>
        </div>
        <div class="right">
          <button (click)="onViewTransaction(customer)" class="btn btn-info">View Transactions</button>
          <!-- <button class="btn btn-primary">Add Payment & Clear</button> -->
        </div>
      </div>
    </mat-card>
    <mat-card-actions>
      <footer>
        <mat-paginator
        #paginator
        [length]="paginationLength"
        [pageSize]="10"
        (page)="pageEvent = onPaginate($event)"
        [pageSizeOptions]="[5, 10, 15, 20]"
        aria-label="Select page">
        </mat-paginator>
      </footer>
    </mat-card-actions>
  </mat-card>
</div>
