<div mat-dialog-title>
  <div class="header">
    <div>
      <h2 >Add Item</h2>
    </div>
    <button type="button" class="btn-close" (click) = "close()"></button>
  </div>
</div>
<mat-dialog-content >
  <div class="modal-content" *ngIf="passedData?.showModal1">
    <div class="modal-body">
      <div class="container-fluid">
        <form [formGroup] = "invoiceForm">
          <div class="row alert alert-info">
            <div class="col-lg-3 col-md-12">
              <h3 class="heading-center"><span class="badge bg-secondary">Add Customer With <br> Mobile Number:</span></h3>
              <div class="mb-3">
                <!-- <label for="customerMobileNumberInput" class="form-label label-center">Customer Mobile Number</label> -->
                <input
                type="text"
                class="form-control"
                id="customerMobileNumberInput"
                placeholder="Enter Mobile Number"
                formControlName = "customerMobileNumberInput"
                (input) = "suggest($event)"
                autocomplete="off">
              </div>
              <div class="mb-3" *ngIf="suggestions.length">
                <!-- <p class="suggestions" *ngFor="let customer of suggestions">{{customer.mobile}}</p> -->
                <button
                class="btn btn-primary add-customer-btn"
                *ngFor="let customer of suggestions; index as i"
                (click) = "addCustomerToInvoiceDetail(i)"><fa-icon [icon]="faPlusSquare" style="margin-right: 0.5em;" class="mr-10"></fa-icon>{{customer.mobileNumber}} | {{ customer.name | uppercase }} </button>
              </div>
              <div class="mb-3" *ngIf = "suggestions.length === 0">
                <div class="alert alert-warning" role="alert">
                  Customer Does Not Exist!
                </div>
                <button
                class="btn btn-info inform-btn"
                data-bs-toggle="modal"
                data-bs-target="#addCustomerModal"
                data-bs-whatever="@mdo"><fa-icon [icon]="faUser" style="color: darkgray; margin-right: 0.5em;" class="mr-10"></fa-icon>Add New Customer</button>
              </div>



            </div>
            <div class="col-lg-5 col-md-12">
              <h3 class="heading-center"><span class="badge bg-secondary">Customer Detail:</span></h3>
              <div class="customer-detail-wrapper" *ngIf = "invoiceDetail.customer.mobileNumber !== null">
                <ul class="list-group">
                  <li class="list-group-item list-group-item-secondary"><fa-icon [icon]="faUserTie" style="margin-right: 0.5em;" class="mr-10"></fa-icon>Name :  {{ invoiceDetail.customer.name | uppercase }}</li>
                  <li class="list-group-item list-group-item-secondary"><fa-icon [icon]="faPhoneAlt" style="margin-right: 0.5em;" class="mr-10"></fa-icon>Mob :  {{ invoiceDetail.customer.mobileNumber | uppercase }}</li>
                  <li class="list-group-item list-group-item-secondary"><fa-icon [icon]="faMapMarkerAlt" style="margin-right: 0.5em;" class="mr-10"></fa-icon>Address :  {{ invoiceDetail.customer.address | uppercase }}</li>
                </ul>
                <button
                class="btn btn-warning"
                (click) = "removeCustomerFromInvoiceDetail()">Remove Customer</button>
              </div>
              <div class=" cutomer-detail-not-available-wrapper" *ngIf = "invoiceDetail.customer.mobileNumber === null">
                <p class="" role="alert">
                  Please Select and Add Customer
                </p>
                <p>
                  OR
                </p>
                <button
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#addCustomerModal"
                data-bs-whatever="@mdo"><fa-icon [icon]="faUser" style="margin-right: 0.5em;" class="mr-10"></fa-icon>Add New Customer</button>
              </div>
            </div>
            <div class="col-lg-4 col-md-12">
              <h3 class="heading-center"><span class="badge bg-secondary">Invoice Detail:</span></h3>
              <div class="customer-detail-wrapper">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"><fa-icon [icon]="faHashtag" style="margin-right: 0.5em;" class="mr-10"></fa-icon>Invoice Number : </span>
                  <input
                  type="text"
                  class="form-control"
                  aria-label="Invoice Number"
                  formControlName = "invoiceNumber"
                  readonly>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"><fa-icon [icon]="faCalendarAlt" style="margin-right: 0.5em;" class="mr-10"></fa-icon>Invoice Date : </span>
                  <input
                  type="text"
                  class="form-control"
                  aria-label="Date"
                  formControlName = "invoiceDate"
                  readonly>
                </div>
                <div class="input-group mb-3">
                  <label class="input-group-text" for="inputGroupSelect01"><fa-icon [icon]="faInfo" style="margin-right: 0.5em;" class="mr-10"></fa-icon>State of supply</label>
                  <select class="form-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row top-buffer">
            <h3 class="heading-center"><span class="badge bg-secondary">Items List:</span></h3>
            <div class="col-lg-3 col-md-12 mb-1">
              <div class="mt-auto">
                <!-- <label for="itemNameInputForSearch" class="form-label label-center">Search Items By Name</label> -->
                <input
                type="text"
                class="form-control"
                id="itemNameInputForSearch"
                placeholder="Search Items By Name"
                formControlName = "customerMobileNumberInput"
                (input) = "suggestItems($event)"
                autocomplete="off">
              </div>
            </div>
            <div class="col-lg-9 col-md-12 item-btn-wrapper" *ngIf = "itemSuggestions.length">
              <button
              class="btn btn-primary"
              *ngFor = "let item of itemSuggestions; index as i"
              (click) = "addItemToFormArray(i)"
              ><fa-icon style="margin-right: 0.5em;" [icon]="faPlusSquare"></fa-icon>{{ item.name }}</button>
            </div>
            <div class="col-lg-9 col-md-12 item-btn-wrapper" *ngIf = "itemSuggestions.length === 0">
              <p class="alert alert-warning pt-2 pb-2">No Items Available With This Name</p>
              <button
              class="btn btn-info"><fa-icon [icon]="faSquare" style="color: darkgray; margin-right: 0.5em;" class="mr-10"></fa-icon>Add Item</button>
            </div>
          </div>
          <div class="row top-buffer">
            <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead class="table-secondary">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Item Name</th>
                  <!-- <th scope="col">Brand</th> -->
                  <th scope="col">Size</th>
                  <!-- <th scope="col">Category</th> -->
                  <th scope="col">Rate</th>
                  <th scope="col">MRP</th>
                  <th scope="col">Stock Quantity [ Limit ]</th>
                  <th scope="col">Quantity</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody formArrayName = "items">

                <tr *ngFor = "let item of items.controls; index as i" [formGroupName]="i">

                    <th scope="row"><span class="">{{ i + 1 }}</span></th>
                    <td>
                      <div class="mt-auto">
                        <!-- <label for="itemNameInputForSearch" class="form-label label-center">Search Items By Name</label> -->
                        <input
                        formControlName = "name"
                        type="text"
                        class="form-control width-fit-content"
                        id=""
                        placeholder=""
                        readonly
                        autocomplete="off">
                      </div>
                    </td>
                    <!-- <td>
                      <div class="mt-auto">

                        <input
                        formControlName = "brand"
                        type="text"
                        class="form-control"
                        id=""
                        placeholder=""
                        readonly
                        autocomplete="off">
                      </div>
                    </td> -->
                    <td>
                      <div class="mt-auto">
                        <!-- <label for="itemNameInputForSearch" class="form-label label-center">Search Items By Name</label> -->
                        <input
                        formControlName = "size"
                        type="text"
                        class="form-control width-fit-content"
                        id=""
                        placeholder=""
                        readonly
                        autocomplete="off">
                      </div>
                    </td>
                    <td>
                      <div class="mt-auto">
                        <!-- <label for="itemNameInputForSearch" class="form-label label-center">Search Items By Name</label> -->
                        <input
                        formControlName = "rate"
                        type="text"
                        class="form-control width-fit-content"
                        id=""
                        placeholder=""
                        readonly
                        autocomplete="off">
                      </div>
                    </td>
                    <td>
                      <div class="mt-auto">
                        <!-- <label for="itemNameInputForSearch" class="form-label label-center">Search Items By Name</label> -->
                        <input
                        formControlName = "mrp"
                        type="text"
                        class="form-control width-fit-content"
                        id=""
                        placeholder=""
                        readonly
                        autocomplete="off">
                      </div>
                    </td>
                    <td>
                      <div class="mt-auto">
                        <!-- <label for="itemNameInputForSearch" class="form-label label-center">Search Items By Name</label> -->
                        <input
                        formControlName = "stockQuantity"
                        type="number"
                        class="form-control width-fit-content"
                        id=""
                        placeholder=""
                        readonly
                        autocomplete="off">
                      </div>
                    </td>
                    <td>
                      <div class="mt-auto">
                        <!-- <label for="itemNameInputForSearch" class="form-label label-center">Search Items By Name</label> -->
                        <input
                        formControlName = "quantity"
                        type="number"
                        value="1"
                        min="1"
                        max=""
                        class="form-control width-fit-content"
                        id=""
                        placeholder=""
                        autocomplete="off">
                      </div>
                    </td>

                    <td>
                      <button
                      (click) = "removeItemFromFormArray(i)"
                      class="btn btn-danger"><fa-icon [icon]="faTimes"></fa-icon></button>
                    </td>

                </tr>

              </tbody>
              <tfoot class="table-info">
                <tr>
                  <td></td>
                  <td>Total Amount</td>
                  <td></td>
                  <td><fa-icon [icon]="faRupeeSign"></fa-icon> {{ invoiceTotalAmountByTotalItems }}</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tfoot>
            </table>
            </div>
          </div>
          <div class="row top-buffer">
            <div class="col-lg-8">

            </div>
            <div class="col-lg-4">
              <div class="form-check form-switch mb-4">
                <input
                style="height: 25px;width: 50px; "
                (click) = "toggleInstantPayment()"
                class="form-check-input"
                type="checkbox"
                id="flexSwitchCheckDefault">
                <label
                style="margin-left: 10px;"
                class="form-check-label mt-1"
                for="flexSwitchCheckDefault">Credit</label>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">Discount</span>
                <input
                value="{{ discountInPercentage }}"
                readonly
                type="text"
                class="form-control">
                <span class="input-group-text">%</span>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">Total Discount</span>
                <span class="input-group-text"><fa-icon [icon]="faRupeeSign"></fa-icon></span>
                <input
                readonly
                value="{{ discountInAmount }}"
                type="text"
                class="form-control">

              </div>

              <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Payment Type</label>
                <select formControlName="paymentMode" class="form-select" id="inputGroupSelect01">
                  <option selected value="OFFLINE">By Cash</option>
                  <option value="ONLINE">Online</option>
                </select>
              </div>
              <div class="form-check">
                <input
                formControlName="roundOff"
                class="form-check-input"
                type="checkbox"
                id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Round Off
                </label>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">Total Amount</span>
                <span class="input-group-text"><fa-icon [icon]="faRupeeSign"></fa-icon></span>
                <input
                readonly type="text"
                class="form-control"
                value = "{{ invoiceTotalAmountByTotalItems }}">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">Payment Received</span>
                <span class="input-group-text"><fa-icon [icon]="faRupeeSign"></fa-icon></span>
                <input
                formControlName = "paymentReceived"
                value="{{ instantPayment? invoiceTotalAmountByTotalItems : 0 }}"
                readonly type="text"
                class="form-control">
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>

  </div>

  <div class="modal-content" *ngIf="passedData?.showModal2">
    <div class="modal-body">
      <div class="container">
        <h2 class="preview-heading alert alert-info pt-1 pb-1">Invoice Preview</h2>
        <div class="invoice-preview-container">
          <div class="row">
            <div class="col-lg-5">
                <h3 class="heading-center"><span class="badge bg-secondary">Customer Details:</span></h3>
                <div class="detail-wrapper">
                  <p class="mt-1 align-text-center font-weight-bold preview-text"><fa-icon [icon]="faUserTie" style="margin-right: 0.5em;" class="mr-10"></fa-icon>Name : {{ invoiceDetail.customer.name }}</p>
                  <p class="align-text-center preview-text"><fa-icon [icon]="faPhoneAlt" style="margin-right: 0.5em;" class="mr-10"></fa-icon>Mobile Number : {{ invoiceDetail.customer.mobileNumber }}</p>
                  <p class="align-text-center preview-text"><fa-icon [icon]="faMapMarkerAlt" style="margin-right: 0.5em;" class="mr-10"></fa-icon>Address : {{ invoiceDetail.customer.address }}</p>
                </div>
            </div>
            <div class="col-lg-2">

            </div>
            <div class="col-lg-5">
                <h3 class="heading-center"><span class="badge bg-secondary">Invoice Details:</span></h3>
                <div class="detail-wrapper">
                  <p class="mt-1 align-text-center preview-text"><fa-icon [icon]="faHashtag" style="margin-right: 0.5em;" class="mr-10"></fa-icon>Invoice Number : {{ invoicePreviewData?.invoiceNumber }}</p>
                  <p class="align-text-center preview-text"><fa-icon [icon]="faCalendarAlt" style="margin-right: 0.5em;" class="mr-10"></fa-icon>Invoice Date : {{ invoicePreviewData?.invoiceDate }}</p>
                </div>
            </div>

          </div>
          <div class="row">
            <h3 class="heading-center"><span class="badge bg-secondary">Items: </span></h3>
            <div class="col-lg-12">
              <div class="table-responsive">
              <table class="table table-borderless">
                <thead class="table-secondary">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Item Name</th>
                    <!-- <th scope="col">Brand</th> -->
                    <th scope="col">Size</th>
                    <!-- <th scope="col">Category</th> -->
                    <th scope="col">Rate</th>
                    <th scope="col">MRP</th>
                    <!-- <th scope="col">Stock Quantity [ Limit ]</th> -->
                    <th scope="col">Quantity</th>
                    <!-- <th scope="col"></th> -->
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor = "let item of invoicePreviewData?.items; index as i" >

                      <th scope="row"><span class="">{{ i + 1 }}</span></th>
                      <td>
                        {{ item.name }}
                      </td>
                      <!-- <td>
                        <div class="mt-auto">

                          <input
                          formControlName = "brand"
                          type="text"
                          class="form-control"
                          id=""
                          placeholder=""
                          readonly
                          autocomplete="off">
                        </div>
                      </td> -->
                      <td>
                        {{ item.size }}
                      </td>
                      <td>
                        {{ item.rate }}
                      </td>
                      <td>
                        {{ item.mrp }}
                      </td>
                      <td>
                        {{ item.quantity }}
                      </td>
                  </tr>

                </tbody>
                <tfoot>
                  <tr>
                    <td>
                      <p class="preview-text">Grand Total :</p>
                    </td>
                    <td colspan="5">
                      <p class="preview-text"><fa-icon [icon]="faRupeeSign"></fa-icon> {{ invoiceTotalMrpByTotalItems }} </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p class="preview-text">Discount :</p>
                    </td>
                    <td colspan="5">
                      <p class="preview-text"><fa-icon [icon]="faRupeeSign"></fa-icon> {{ discountInAmount }}</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p class="preview-text">Discount in Percentage :</p>
                    </td>
                    <td colspan="5">
                      <p class="preview-text">{{ discountInPercentage }} %</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p class="preview-text">Net Amount :</p>
                    </td>
                    <td colspan="5">
                      <p class="preview-text"><fa-icon [icon]="faRupeeSign"></fa-icon> {{ invoiceTotalAmountByTotalItems }}</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p class="preview-text">Payment Received :</p>
                    </td>
                    <td colspan="5">
                      <p class="preview-text"><fa-icon [icon]="faRupeeSign"></fa-icon> {{ paymentReceived }}</p>
                    </td>
                  </tr>
                </tfoot>

              </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</mat-dialog-content>
<mat-dialog-actions>
  <div class="modal-footer" *ngIf="passedData?.showModal1">
    <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
    <button
    [disabled] = "items.controls.length === 0 || invoiceDetail.customer.name === null || !invoiceForm.valid"
    (click) = "onGoToSecondModal()"
    class="btn btn-primary">Confirm and Preview</button>
  </div>
  <div class="modal-footer" *ngIf="passedData?.showModal2">
    <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
    <button
    (click) = "createInvoice()"
    data-bs-dismiss="modal"
    class="btn btn-primary">Comfirm and Generate Invoice</button>
  </div>
</mat-dialog-actions>
