<div mat-dialog-title>
  <div class="header">
    <div>
      <h2 >Add Item</h2>
    </div>
    <button type="button" class="btn-close" (click) = "close()"></button>
  </div>
</div>
<mat-dialog-content  >
<div class="modal-content" *ngIf="passedData.showModal1">
  <div class="modal-body">
    <form [formGroup]="addItemForm1">
      <div class="mb-3">
        <label for="recipient-name" class="col-form-label">Item Name:</label>
        <input formControlName="name" type="text" class="form-control" id="recipient-name">
        <div class="info">
          Name must have minimum of 3 char.
        </div>
      </div>
      <div class="mb-3">
        <label for="item-mrp" class="col-form-label">Item MRP:</label>
        <input formControlName="mrp" type="number" class="form-control" id="item-mrp">
        <div class="info">
          Mrp must be greater than or equal to rate & purchase price.
        </div>
      </div>
      <div class="mb-3">
        <label for="item-rate" class="col-form-label">Item Rate:</label>
        <input formControlName="rate" type="number" class="form-control" id="item-rate">
        <div class="info">
          Rate must be less than or equal to mrp & greater than equal to purchase price.
        </div>
      </div>
      <div class="mb-3">
        <label for="item-rate" class="col-form-label">Purchase Price:</label>
        <input formControlName="purchasePrice" type="number" class="form-control" id="item-rate">
        <div class="info">
          Purchase price must be less than or equal to rate & mrp.
        </div>
      </div>
      <div class="mb-3">
        <label for="item-quantity" class="col-form-label">Brand:</label>
        <input formControlName="brand" type="text" class="form-control" id="item-quantity">
        <div class="info">
          Brand must have minimum of 3 char.
        </div>
      </div>
    </form>
  </div>

</div>

<div class="modal-content" *ngIf="passedData.showModal2">
  <div class="modal-body">
    <form [formGroup]="addItemForm2">
      <div class="mb-3">
        <label for="item-size" class="col-form-label">Item Size:</label>
        <input formControlName="size" type="text" class="form-control" id="item-size">
        <div class="info">
          Size can text or number.
        </div>
      </div>
      <div class="mb-3">
        <label for="item-quantity" class="col-form-label">Item Quantity:</label>
        <input formControlName="quantity" type="number" class="form-control" id="item-quantity">
        <div class="info">
          This is required.
        </div>
      </div>

      <div class="mb-3">
        <label for="category" class="col-form-label">Item Category:</label>
        <select formControlName="category" class="form-select" aria-label="Default select example">
          <option *ngFor="let category of itemCategories" value="{{category?.name}}">{{category?.name}}</option>
        </select>
        <div class="info">
          This is required.
        </div>
      </div>
      <!-- <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <label style="margin-right: 10px;" for="item-quantity" class="col-form-label">Add Expiry and Manufature Date</label>
        <select
        formControlName="showAddExpiryAndManufacturingDetail"
        (change)="toggleShowAddExpiryAndManufacturingDetail($event)"
        class="form-select"
        aria-label="Default select example">
          <option selected value="false">No</option>
          <option value="true">Yes</option>
        </select> -->
        <!-- <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="btnradio1"
        (change)="toggleShowAddExpiryAndManufacturingDetail(false)"
        autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio1">No</label>

        <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="btnradio2"
        (change)="toggleShowAddExpiryAndManufacturingDetail(true)"
        autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio2">Yes</label> -->
      <!-- </div> -->
      <div class="mb-3">
        <label for="item-expiry" class="col-form-label">Item Expiry:</label>
        <input
        formControlName="expiryDate"
        type="date"
        class="form-control"
        id="item-expiry">
        <div class="info">
          This is optional but expiry must be greater than manufacturer.
        </div>
      </div>
      <div class="mb-3">
        <label for="item-manufactury-date" class="col-form-label">Item Manufacture Date:</label>
        <input
        formControlName="manufacturerDate"
        type="date"
        class="form-control"
        id="item-manufactury-date">
        <div class="info">
          This is optional but expiry must be greater than manufacturer.
        </div>
      </div>
    </form>
  </div>

</div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="modal-footer" *ngIf="passedData.showModal1">
    <button type="button" class="btn btn-secondary" (click) = "close()">Close</button>
    <button [disabled]="!addItemForm1.valid" class="btn btn-primary" (click)="openSecondDialog()">Continue</button>
  </div>
  <div class="modal-footer" *ngIf="passedData.showModal2">
    <button type="button" class="btn btn-secondary" (click) = "close()">Close</button>
    <button
    [disabled]="!addItemForm2.valid"
    (click)="onAddItem()"
    class="btn btn-primary">Add Item</button>
  </div>
</mat-dialog-actions>
